include INSTALLING.md
include LICENSE
include README.md
include THANKS.txt
include ez_setup.py
recursive-include app-template *
recursive-include vendor *
recursive-include python/couchapp/_external *