%%-*- mode: erlang -*-

%% Erlang compiler options
{erl_opts, [debug, {d, 'WITH_MOCHIJSON'}]}.


{deps, [
     %% couchbeam client
    {mochiweb, ".*", {git, "git://github.com/mochi/mochiweb.git",
                      "v2.7.0 "}},

    %% couchbeam client
    {couchbeam, ".*", {git, "git://github.com/benoitc/couchbeam.git",
                       {tag, "1.1.8"}}}
]}.
