%%-*- mode: erlang -*-

%% Erlang compiler options
{erl_opts, [{i, "include"}, 
            {i, "deps/ibrowse/src/"},
            {i, "deps/couchbeam/include"},
            debug]}.

{app_bin, ["priv/couchapp"]}.

{deps, [
    %% couchbeam client 
    {couchbeam, ".*", {git, "http://github.com/benoitc/couchbeam.git","master"}}
]}.
