%%-*- mode: erlang -*-

%% Erlang compiler options
{erl_opts, [debug, {d, 'WITH_MOCHIJSON'}]}.

{app_bin, ["priv/elrca"]}.
{require_otp_vsn, "R14|R15"}.

{deps, [
    %% couchbeam client
    {couchbeam, ".*", {git, "git://github.com/benoitc/couchbeam.git",
                      {branch, "erica"}}}
]}.

%% following line requires R15B02 on Windows to work
{post_hooks, [{compile, "escript bootstrap"}]}.
