Source: couchapp
Section: python
Priority: optional
Maintainer: Benoit Chesneau <benoitc@e-engura.com>
Build-Depends: debhelper (>= 7), python-support, python-setuptools
Standards-Version: 3.9.0.0
Homepage: http://couchapp.org/

Package: couchapp
Architecture: all
Depends: ${python:Depends}, ${shlibs:Depends}, ${misc:Depends}, 
	python-restkit(>=2.1.4)
Provides: ${python:Provides}
Description: Standalone CouchDB Application Development Made Simple.
 CouchApp is a set of helpers and a jQuery plugin that conspire to 
 get you up and running on CouchDB quickly and correctly. It brings 
 clarity and order to the freedom of CouchDB's document-based approach.
